@media screen and (max-width: 1380) {
    .postercontaine
    {
        margin-left: 18%;
    }
}

@media screen and (max-width: 1322px){
    .FrameDetail
    {
        width: calc(100% - 300px) !important;
    }
}

@media screen and (min-width: 1900px){
    .Display,.Main
    {
        margin:0 auto;
    }
    .search
    {
        margin-left:23%;

    }
    .Header
    {
        max-width: 2300px;
    }
    .tool6
    {
        top: 64px;
        left: 92%;
    }
}
